<h1> Companies! </h1>

<% companies= Company.all%>

<p> No. of companies in database: <%= companies.count %> </p> 

<ul>
<% for company in companies %>
   <li><%= company.name %>, located in <%= company.city %> </li> 
   <% end %>   
</ul>