<h1>Bush did 911</h1> 

<h2>Or did he??? </h2>

<p> Leading theories include: </p>

<% answers = ["maybe", "maybe not", "maybe fuck yourself"] %>

<p> 
There are so many theories:
<%= answers.length %>
</p>

<ul>
  <li> Maybe </li>
  <li> Maybe not </li>
</ul>
